
.float-left
{
    float: left;
}

.float-left > img
{   
    width: 100%;
    margin:auto
}

.float-left > footer
{
    font-style: italic;
}

h3:first-of-type
{
    text-align: center;
    margin-bottom: 70px;
}

.left, .right
{
 display: inline;
}

.left
{
    float: left;
    margin-left: 40px;
    width: 70%;
}

.right
{   
    float: auto;
}